{% extends "main/base.html" %}
{% block content %}


<div class = "details_content">
    <div class = "menu">
        <a href = "http://127.0.0.1:8000/main/">Главная</a>
        <a href = "http://127.0.0.1:8000/main/dtf">DTF  </a>
        <a href = "http://127.0.0.1:8000/main/vg">VGTimes  </a>
        <a href = "http://127.0.0.1:8000/main/igrm">Igromania  </a>
    </div>
    <br>
    <div class = "post">

        <h2 class = "post_title">
        {{post.title}}
        </h2>
        <br>
        <div class = "date_time">
        {{post.date}} | {{post.time}}
        </div>
        <br>
        <div class = "img_container">
        <img class = "index_image" src ="{{ MEDIA_URL }}{{post.img.url}}">
        </div>
        <br>
        {{post.text}}
        <br>
        <form method="POST", action = '{{post.post_id}}/like/'>
            {% csrf_token %}
            <input type = "submit" value = "like">
        </form>
        <form method="POST", action = '{{post.post_id}}/dislike/'>
            {% csrf_token %}
            <input type = "submit" value = "dislike">
        </form>
        <p>просмотры: {{views}}</p>
        <p>лайки: {{likes}}</p> 
        <p>дизлайки: {{dislikes}}</p> 
        <h3><a href = "{{post.post_id}}/comment/">комментировать</a></h3> 

        {% for comment in comments %}
        <div class = "comments">
            <p class = "comment">комментарий: {{comment.texts}} | юзер: {{comment.user}} </p>
            <h3><a href = "{{post.post_id}}/{{comment.comment_id}}/answer_comment/">ответить</a></h3> 
            {% for anscomment in anscomments %}
                {% if anscomment.comment_id == comment.comment_id %}
                    <p class = "anscomment">комментарий: {{anscomment.prev.user}}, {{anscomment.texts}} | юзер: {{anscomment.user}} </p>
                    <h3><a href = "{{post.post_id}}/{{comment.comment_id}}/{{anscomment.child_id}}/answer_child/">ответить</a></h3> 
                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>

    </div>
</div>

{% endblock %}