{% extends "main/base.html" %}
{% load static %}
{% block content %}


<div class = "details_content">
    <div class = "menu">
        <a href = "main/">Главная</a>
        <a href = "http://127.0.0.1:8000/main/dtf">DTF  </a>
        <a href = "http://127.0.0.1:8000/main/vg">VGTimes  </a>
        <a href = "http://127.0.0.1:8000/main/igrm">Igromania  </a>
    </div>
    <br>
    <div class = "post">

        <h2 class = "post_title">
        {{post.title}}
        </h2>
        <br>
        <div class = "date_time">
        {{post.date}} | {{post.time}}
        </div>
        <br>
        <div class = "img_container">
        <img class = "index_image" src ="{{ MEDIA_URL }}{{post.img.url}}">
        </div>
        <br>
        {{post.text}}
        <br>
        <form method="POST", action = '{{post.post_id}}/like/'>
            {% csrf_token %}
            <input type = "submit" value = "like">
        </form>
        <form method="POST", action = '{{post.post_id}}/dislike/'>
            {% csrf_token %}
            <input type = "submit" value = "dislike">
        </form>
        <p>лайки: {{likes}}</p> 
        <p>дизлайки: {{dislikes}}</p> 
    </div>
</div>

{% endblock %}