{% extends "main/base.html" %}

{% block content %}
<div class = "content">
    <div class = "menu">
        <a href = "main/">Главная</a>
        <a href = "http://127.0.0.1:8000/main/dtf">DTF</a>
        <a href = "http://127.0.0.1:8000/main/vg">VG Times</a>
        <a href = "http://127.0.0.1:8000/main/igrm">Igromania</a>
    </div>
    <hr/>
    {% for post in posts %}
        <br>
        <h2 class = "post_title">
        {{post.title}}
        </h2>
        <br>
        <img class = "index_image"src ="{{ MEDIA_URL }}{{post.img.url}}">
        <br>
        <div class = "date_time">
        {{post.date}} | {{post.time}}

        </div>
        <br>
        {{post.text}}
        <br>
        <hr/>
    {% endfor%}
</div>
{% endblock %}