body
    {
        color: rgb(0, 0, 0);
        font-family: 'Roboto';
        background-color: rgb(187, 181, 181);



    }
.content
    { 
        margin-left: 31%;
        margin-right: 31%;
        margin-bottom: 28px;
    }
.details_content
{
    margin-left: 23%;
    margin-right: 23%;

}
.post_title
    {
        margin-top: 15px;
        margin-left: 10px;
        font-size: 22px;
        text-align: left;
        font-weight: bold;
    }
.date_time
    {
        margin-left: 10px;
        font-weight: bold;     
    }
a
    {
        color: black;
        text-decoration: none;
    }
.menu
    {
        font-size: 30px;
        background-color:rgb(233, 230, 213);
        font-weight: bold;    
        text-align: center;  
    }
.img_container
    {   
        text-align: center;


    }

.index_image
    {
        margin-bottom: 15px;
        width: 766px;
        height: auto;

    }
.post
{
    border-radius: 7px;
    background-color:rgb(233, 230, 213);
    margin-bottom: 28px;
}

.comment
{
    color: rgb(255, 0, 0);
}
.anscomment
{
    color: rgb(0, 0, 0);
}